<div class="container">
    <app-cockpit (onServerCreated)="onServerAdded($event)" (onBlueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
    <hr/>
    <app-server-list *ngFor="let element of serverElements" [element]="element">

        <p>
            <strong *ngIf="element.type==='server'" style="color: red;">{{element.content}}</strong>
            <strong *ngIf="element.type==='blueprint'" style="color: blue;">{{element.content}}</strong>
        </p>
    </app-server-list>
   </div>