<!-- <app-header ></app-header>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->




<!--*************************************************************-->
<!-- <app-promise></app-promise> -->
<!-- <app-servers></app-servers> -->
<!-- <app-display-game></app-display-game> -->
<!-- <app-home></app-home> -->
<!-- <app-template-form></app-template-form> -->
<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-reactive-form-assignment></app-reactive-form-assignment> -->
<app-pipe-test></app-pipe-test>
<!-- <app-http-requests></app-http-requests> -->

