
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="alert alert-danger" *ngIf="errorMessage">
                <p>{{errorMessage}}</p>
                <app-alert *ngIf="errorMessage" [message]="errorMessage" (closeAlert)="onClearError()"></app-alert>
            </div>
            <div  *ngIf="isLoading">
                <app-loading-spinner></app-loading-spinner>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email" />
                </div>
                <div class="form-group">
                    <label for="pwd">Password</label>
                    <input type="password" class="form-control" id="pwd" formControlName="pwd" />
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">{{isLogged?'Login':'Signup'}}</button> | 
                        <button class="btn btn-primary" type="button" (click)="switchContext()">{{isLogged?'Signup':'Login'}}</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
