<!-- <section class="shopping-list-section">
    <div class="shopping-edit">
        <app-shopping-edit ></app-shopping-edit>
       
    </div>
    <div class="list">
        <p>The list</p>
    </div>
</section> -->
<div class="row">
  <div class="col-xs-12">
    <app-shopping-edit></app-shopping-edit>
    <hr />
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let data of ingredients; let i = index"
        (click)="onEditItem(i)"
      >
        {{ data.name }} ({{ data.amount }})
      </a>
    </ul>
  </div>
</div>
